In [1]:
import pandas as pd

In [10]:
csv = """Word1,Meaning1,Word2,Meaning2
Accept,To receive willingly,Except,To exclude
Affect,To influence,Effect,A result or outcome
Advice,Guidance or recommendations,Advise,To give advice
Altar,A religious structure,Alter,To modify or change
Bare,Lacking covering,Bear,An animal or to endure
Brake,A device for stopping,Break,To separate into pieces
Cereal,A type of grain,Serial,Occurring in a series
Complement,Something that completes,Compliment,A polite expression of praise
Council,An assembly for discussion,Counsel,Advice or a legal advisor
Desert,A barren dry region,Dessert,A sweet course at the end of a meal
Discreet,Careful and prudent,Discrete,Separate and distinct
Elicit,To draw out a response,Illicit,Illegal or forbidden
Emigrate,To leave one country,Immigrate,To enter another country
Principal,Head of a school or main,Principle,A fundamental truth
Stationary,Not moving,Stationery,Writing materials
Flare,A sudden burst of light,Flair,A natural talent or style
Faze,To disturb or disconcert,Phase,A stage in a process
Cue,A signal or hint,Queue,A line of people or vehicles
Access,The means of entry,Excess,More than necessary
Allude,To indirectly reference,Elude,To escape or avoid
Capital,A city or financial resource,Capitol,A government building
Complementary,Serving to complete,Complimentary,Given for free or as praise
Conscious,Awake and aware,Conscience,Moral principles
Device,An invention or gadget,Devise,To plan or create
Envelop,To surround or cover,Envelope,A paper container for letters
Formally,In a formal manner,Formerly,Previously
Gorilla,A large primate,Guerilla,A member of an irregular military force
Incite,To provoke or urge on,Insight,A deep understanding
Loose,Not tight,Lose,To misplace or fail to win
Medal,An award or decoration,Meddle,To interfere
Minor,Of lesser importance,Miner,A person who works in a mine
Moral,Concerned with right or wrong,Morale,Spirit or mental state
Past,Belonging to a previous time,Passed,Moved in a specified direction
Personal,Relating to an individual,Personnel,Employees or staff
Prescribe,To recommend or order,Proscribe,To prohibit or forbid
Respectfully,In a courteous manner,Respectively,In the same order as previously mentioned
Right,Correct or a direction,Rite,A ceremonial act
Role,A part played by someone,Roll,To move by turning over and over
Sight,The ability to see,Site,A location or place
Stationary,Not moving,Stationery,Writing materials
Their,Belonging to them,There,In that place
To,Indicating direction or purpose,Too,Also or excessively
Waist,The part of the body between ribs and hips,Waste,Unused or unwanted material
Weather,Conditions of the atmosphere,Whether,Expressing a choice between options
Whose,Belonging to whom,Who's,Contraction of 'who is' or 'who has'
Your,Belonging to you,You're,Contraction of 'you are'
Barely,Almost not,Barley,A type of grain
Aisle,A passage between rows of seats,Isle,An island
Bolder,More courageous or daring,Boulder,A large rock
Canvas,A strong fabric,Canvass,To solicit opinions or votes
Continual,Occurring repeatedly over time,Continuous,Uninterrupted in time or sequence
"""

with open("homophones.csv", "w") as f:
    f.write(csv)

In [11]:
df = pd.read_csv("homophones.csv", header=0, engine="python")

In [24]:
# df.to_parquet("homophones.parquet")
df = pd.read_parquet("homophones.parquet")

In [25]:
# create new df with word 1 and meaning 1
df1 = df.iloc[:, 0:2]
df1.columns = ["Word", "Meaning"]
# concatentate word 2 and meaning 2
df2 = df.iloc[:, 2:4]
df2.columns = ["Word", "Meaning"]
df3 = pd.concat([df1, df2], axis=0)
df3

          Word                            Meaning
0       Accept               To receive willingly
1       Affect                       To influence
2       Advice        Guidance or recommendations
3        Altar              A religious structure
4         Bare                   Lacking covering
..         ...                                ...
46      Barley                    A type of grain
47        Isle                          An island
48     Boulder                       A large rock
49     Canvass       To solicit opinions or votes
50  Continuous  Uninterrupted in time or sequence

[102 rows x 2 columns]

In [26]:
# save index in a new column
df3["pair_id"] = df3.index
df3.index = range(len(df3))

In [27]:
df3.to_parquet("homophones2.parquet")

In [28]:
df3 = pd.read_parquet("homophones2.parquet")

In [29]:
df3

           Word                            Meaning  pair_id
0        Accept               To receive willingly        0
1        Affect                       To influence        1
2        Advice        Guidance or recommendations        2
3         Altar              A religious structure        3
4          Bare                   Lacking covering        4
..          ...                                ...      ...
97       Barley                    A type of grain       46
98         Isle                          An island       47
99      Boulder                       A large rock       48
100     Canvass       To solicit opinions or votes       49
101  Continuous  Uninterrupted in time or sequence       50

[102 rows x 3 columns]

In [30]:
scope_df = pd.read_parquet(
    "/Users/dhruvanand/Code/latent-scope/latentscope-working/homophones2/scopes/scopes-001.parquet"
)

In [31]:
scope_df

            x         y  cluster  raw_cluster       label  ls_index
0   -0.673040 -0.120427        7            7   Cluster 7         0
1   -0.111523  0.265597       13           13  Cluster 13         1
2   -0.439988  0.570336        5            5   Cluster 5         2
3    0.370334 -0.717375        6            6   Cluster 6         3
4    0.657836  0.795292        0            0   Cluster 0         4
..        ...       ...      ...          ...         ...       ...
97   0.425041 -0.967602        2            2   Cluster 2        97
98   0.402191 -0.615542        6            6   Cluster 6        98
99   0.830312 -0.657904        1            1   Cluster 1        99
100  0.945433 -0.405357        1           -1   Cluster 1       100
101  0.651687  0.285523        0            0   Cluster 0       101

[102 rows x 6 columns]